.DS_Store

# out
lib

# misc
artifacts
out

# Node.js
node_modules
*.log

# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.yarn/*
# !.yarn/cache
# !.yarn/patches
# !.yarn/plugins
!.yarn/releases
# !.yarn/sdks
# !.yarn/versions
